
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: flex-start;
  /* justify-content: center; */
}

/* .main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  align-items: flex-start;
} */

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }
}

.incompleted-todos-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.completed-todos-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.controller-column {
  display: grid;
  grid-template-rows: auto;
}

/* 
@media (max-height: 368px) {
  .main-container {
    flex-direction: row;
    align-items: center;
  }
} */
