@import './colorVars.css';

.create-file-menu-container {
    width: 100%;
    min-width: 300px;
    max-width: 500px;

    height: auto;
    max-height: 800px;
    min-height: 100px;

    border: none;
    border-radius: 15px;
    background-color: var(--lighter_light);
    box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.25);

    margin: 20px;
    padding: 5px;

    position: absolute;
    top: 170px;
}

.create-file-menu-container h2 {
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
}

.input-box-create {
    gap: 20px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    max-width: 100%;
    height: auto;
    max-height: 500px;
    padding: 10px;
    margin: 15px;
}

.create-file-menu-container .input-box-create input {
    border: 1px solid var(--darker_green);
    border-radius: 6px;
    height: 25px;
    width: 300px;
}

.file-name-box,
.directory-box {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.side-info-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.msg-box {
    font-family: sans-serif;
    font-style: italic;
}

.msg-box.error {
    color: var(--bad_orange);
}

.msg-box.ok {
    color: var(--vivid_green);
}

.directory-box button {
    border: none;
    background-color: rgb(255, 202, 133);
    width: 30px;
    height: 25px;
    border-radius: 5px;

    color: rgb(0, 0, 0);
    font-size: 15px;
}

.directory-box button:hover {
    background-color: rgb(255, 218, 171);
}

.directory-box button:active {
    background-color: rgb(255, 237, 212);
}

.action-box {
    flex-direction: row;
    display: flex;
    gap: 50px;
}

.action-box button {
    width: 100%;
    max-width: 150px;
    min-width: 120px;

    height: 100%;
    max-height: 40px;
    min-height: 30px;

    font-size: 17px;

    border: none;
    border-radius: 10px;

    transition: transform 0.3s ease;
    transform: scale(1);
}

.action-box button.close {
    background-color: var(--exit_red);
}

.action-box button.close:hover {
    background-color: var(--mid_orange);
    transform: scale(1.05);
}

.action-box button.close:active {
    background-color: var(--light_orange);
}

.action-box button.create {
    background-color: var(--good_green);
}

.action-box button.create:hover {
    background-color: var(--vivid_green);
    transform: scale(1.05);
}

.action-box button.create:active {
    background-color: var(--active_green);
}

